// Fonts
$primary-font: "Manrope", "Arial", sans-serif;

// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;

// Colors
$primary-color: #484848;
$primary-color-opacity: rgba(72, 72, 72, 0.3);
$secondary-color: #f0efe9;
$white: #ffffff;
$bg-blue: #316dc2;
$dark-blue: #275699;
$blue-opacity-70: rgba(49, 109, 194, 0.7);
$bg-blue-opacity: rgba(49, 109, 194, 0.2);
$blue-overlay: rgba(49, 109, 194, 0.3);
$grey: #a9afb7;
$grey-opacity-20: rgba(169, 175, 183, 0.2);
$grey-opacity-50: rgba(169, 175, 183, 0.5);
$white-opacity: rgba(255, 255, 255, 0.2);
$white-opacity-30: rgba(255, 255, 255, 0.3);
$white-opacity-60: rgba(255, 255, 255, 0.6);
$white-opacity-70: rgba(255, 255, 255, 0.7);
$red: #ff5e66;
$red-opacity-20: rgba(255, 94, 102, 0.2);
